@model IEnumerable<RecKevinKeizoKASP.Models.News>

@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin-top: 20px;">

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Nova Postagem", "Create", new { area = "" }, new { @class = "btn btn-success" })
        </p>
    }
    else
    {

    }
</div>
@Html.Partial("_News")
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
